body {
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 77, 129);
}

.glider-contain {
    margin-bottom: 50px;
}

.glider-prev, .glider-next {
    top: 50%;
    transform: translateY(-50%);
}